<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7BAF34751C7F79930018237E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAF34891C7F79930018237E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAF34941C7F79930018237E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBC25A031DBDA64F003B3799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
